<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Upload APK</h5>
                        <div class="card-text">
                            <form method="post" enctype="multipart/form-data">
                                <input type="file" name="files[]" multiple />
                                <input type="submit" value="Upload File" name="submit" />
                             </form>
                        </div>
                        <div>
                            More APKS
                        </div>
                    <a href="#" class="btn btn-primary">More APKS</a>
                    <a href="#" class="btn btn-primary">Delete APK</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">APK Content Display</h5>
                        <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>