/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

.nav {
    overflow: hidden;
    background-color: grey;
    list-style-type: none;
    position: sticky;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flow-root;
}
.nav li {
    display: inline-block;
    padding: 10px;
}
.nav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.nav a:hover {
    background-color: #ddd;
    color: black;
}
.nav a.active {
    background-color:wheat;
    color: white;
}
.bar {
    fill: #5f89ad;
}

.axis {
    font-size: 13px;
}

.axis path,.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}

#display-files {
    list-style-type: none;
}

.binary_file {
    border: thin solid black;
    display: flex;
    margin: 10px;
    padding: 10px;
}

.binary_file span {
    flex-grow: 1;
}

input[type=search] {

    width: 100px;
    height: 43px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

input[type=search]:focus {
    width: 110%;
    height: 43px;
}

/*The code below removes the drop down arrow from the search
bar. The datalist automatically appears and starts filtering
its collection as the user types in so there is no need to have the
drop down button.*/
[list]::-webkit-calendar-picker-indicator {
    display: none;
}