/* You can add global styles to this file, and also import other style files */

.nav {
    overflow: hidden;
    background-color: grey;
    list-style-type: none;
    position: sticky;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flow-root;
}
.nav li {
    display: inline-block;
    padding: 10px;
}
.nav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.nav a:hover {
    background-color: #ddd;
    color: black;
}
.nav a.active {
    background-color:wheat;
    color: white;
}
