<app-navbar></app-navbar>
<!-- Page Content -->
<br>
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="flip-card" style="padding: 10px;">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/images/ad.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Adedeji Adebisi</div>
                </div>
            </div>
            <div class="flip-card-back">
                <div class="face back">
                <div class="content text-center">
                    <br>
                    <p>
                        Hi everyone, Hope you,ve been staying safe. This year has 
                        been a little rough on all of us, but my team mate and
                        I have completed this wonderful project with a lot more features in mind
                        The fact that you're visiting now means you wanna know more about our Team 
                        and our only reply is, we are <b>STARSOME</b> I created a webapp 
                        of my portfolio and here's a piece of art created in 4 weeks.
                    </p>
                <button class="btn btn-outline-success my-2 my-sm-0" >
                    <a href="https://ziniblessed-step-2020.uc.r.appspot.com/" target="_blank" type="submit">
                    PORTFOLIO</a>
                </button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Member 2 -->
    <div class="flip-card" style="padding: 10px;">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/images/nana.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Nana Baafi Agyekum</div>
                </div>
            </div>
            <div class="flip-card-back">
                <div class="face back">
                    <div class="content text-center">
                        Hello folks! It's nice to meet you! We undertook this
                        endeavour with the hopes of helping fellow developers
                        keep track of their APK's growth size and build less
                        costly apps for their users. I am an undergrad at 
                        Rensselaer Polytechnic Institute. I am studying Computer
                        Science and Cognitive Science. I love anime and music.
                        I love exploring and it is my dream to visit every country
                        and experience the uniqueness and beauty of the marvelous
                        cultures that our world has to offer. If you feel the same
                        and have the spirit of an explorer, I hope you enjoy my portfolio
                        and share your adventures with me.
                        <button class="btn btn-outline-success my-2 my-sm-0" >
                            <a href="https://nanabaafi-step-2020.uc.r.appspot.com/" target="_blank" type="submit">
                            Here's a look at my portfolio</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Team Member 3 -->
    <div class="flip-card" style="padding: 10px;">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="./assets/images/CharlesJ.jpg" width="500" height="372" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Charles Ogbogu</div>
                </div>
            </div>
            <div class="flip-card-back">
                <div class="face back">
                <div class="content text-center">
                  Thank you for checking out this project!
                  I hope you enjoyed the experience because the team really built something wonderful.
                  If you'd like to learn more about me, you can vist my personal website below.
                <button class="btn btn-outline-success my-2 my-sm-0" >
                    <a href="https://charlesogbogu-step-2020.uc.r.appspot.com/" target="_blank" type="submit">
                    Here's a look at my portfolio</a>
                </button>
                </div>
                </div>
            </div>

        </div>
    </div>
  
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<app-footer></app-footer>
