<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Demo APK</h5>

                    <br>
                    
                    <div>

                        <ul id="display-files"></ul>
                        
                    </div>

                    <br>

                    <div class="card-text">
                        <form action="/binary_upload" method="post" enctype="multipart/form-data">
                            <input type="file" name="files" multiple />
                            <input type="submit" value="Upload File"/>
                        </form>
                    </div>

                    <br>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">APK Content Display</h5>
                        <p class="card-text"></p>
                </div>
                <div id="displayComponent"></div>
                <div id="piechart_3d" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>