<nav class="navbar navbar-light bg-primary justify-content-between">

  <a class="navbar-brand" routerLink="/home" >PROJECT VADERKER</a>
  
  <div class="form-inline">

    <!-- The first form has false returned onsubmit to prevent the form
       from being submitted and reloading the page.-->
    <form class="form-inline" id="searchBar" onsubmit="scrollToAPK(); return false;" hidden>
      <input type="search" list="binary_files" id="search" placeholder="Search...">
      <datalist id="binary_files" onclick="show();"></datalist>
    </form>

    <form class="form-inline" id="login" action="/signin" style="padding: 10px;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
    </form>

    <form class="form-inline" id="logout" action="/signout" style="padding: 10px;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
    </form>

  </div>

</nav>
