<section id="content" class="container">
  <div class="card bg-light mb-3" style="max-width: 32rem;">
  <div class="card-header">What is DATA?</div>
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu.
        Eget aliquet nibh praesent tristique magna sit amet purus gravida.
        Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi
        tincidunt ornare. Et tortor consequat id porta nibh venenatis cras sed.
        Elementum nisi quis eleifend quam adipiscing vitae proin. Massa eget
        egestas purus viverra accumsan in nisl nisi. Dictumst quisque
        sagittis purus sit amet volutpat consequat. Malesuada fames ac turpis
        egestas integer eget aliquet. Quisque sagittis purus sit amet volutpat
        consequat mauris nunc congue. Ut placerat orci nulla pellentesque
        dignissim enim sit amet. Tellus orci ac auctor augue mauris.
        Vitae et leo duis ut diam. Ullamcorper malesuada proin libero
        nunc consequat interdum varius.</p>
  </div>
  <div class="card-footer">
    <a href="/hardcoded" class="card-link">Explore</a>
  </div>
</div>
</section>
