<section id="content" class="container">
  <div class="card bg-light mb-3" style="max-width: 32rem;">
    <div class="card-header">What is DATA?</div>
    <div class="card-body">
        <p class="card-text">
            This project is driven by the idea of enhancing 
            the ability of developers to understand the contents 
            and resources available in their applications. With DATA,
            developers would have access to an open source web application 
            where they can upload and explore APK files.<br>Click Explore too see more
        </p>
    </div>
    <div class="card-footer">
        <button onclick="redirect()" class="btn btn-outline-success my-2 my-sm-0" >Explore</button>
    </div>
    </div>
</section>
